

      <ion-view view-title="Configuracion"  >

<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Atrás
  </ion-nav-back-button>
</ion-nav-bar>

        <ion-content >
            
            <div class="list">

 


  <div class="item item-icon-right" href="#">
   
    <h2>{{user.email}}</h2>
      <p>correo electronico</p>

       <i class="icon ion-edit" ng-click="editarUser('email')"></i>
  
  </div>

  <div class="item item-icon-right" href="#">
   
     <h2>**********</h2>
      <p>Contraseña</p>

       <i class="icon ion-edit" ng-click="editarPassword('password')"></i>
  

  </div>

  <div class="item item-icon-right" ng-click="verNotificaciones()">
    
  Notificaciones

      <i class="icon ion-android-notifications"></i>
  
  </div>

 
  <div class="item item-divider  item-icon-right  " ng-click="verRecordatorioMail()">
    Recordatorio por mail

 <i class="icon ion-android-mail"></i>

  </div>




  


</div>
        </ion-content>
      </ion-view>
   