<ion-view view-title="{{'pedagogic_contract' | translate}}"   ng-init="actualizar(false)" >
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content >
    <div class="list">
      <div class="item item-body" href="#">
        {{"pedagogic_contract_def" | translate}}

      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label bold">{{"reafirm_year" | translate}}</span>
        <textarea rows="3" placeholder="{{'escribir' | translate}}" ng-model="perfil.reafirmar"
               ng-blur="editarPerfil()">
        </textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label bold">{{"release_year" | translate}}</span>
        <textarea rows="3" placeholder="{{'escribir' | translate}}" ng-model="perfil.liberar"
               ng-blur="editarPerfil()">
        </textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label bold">{{"gain_year" | translate}}</span>
        <textarea rows="3" placeholder="{{'escribir' | translate}}" ng-model="perfil.adquirir"
               ng-blur="editarPerfil()">
        </textarea>
      </label>
    </div>
  </ion-content>
</ion-view>
