

      <ion-view view-title="Contrato Pedagógico"  >

      <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Atrás
  </ion-nav-back-button>
</ion-nav-bar>
        <ion-content >
            
            <div class="list">

 
  <div class="item item-icon-right" href="#">
   
    El contrato pedagogico es un medio pedagógico que se configura sobre la base de actitudes y comportamiento que quieren alcanzarse.
  
  </div>

   <div class="item item-divider">
   ¿Qué quiero reafirmar este año?
  </div>

  <div class="item item-body item-icon-right" href="#">
    {{perfil.reafirmar}}
    

       <i class="icon ion-edit" ng-click="editar('reafirmar')"></i>
  
  </div>

   <div class="item item-body item-divider">
   ¿De qué me quiero liberar este año?
  </div>

  <div class="item item-icon-right" href="#">
   
   {{perfil.liberar}}
    

       <i class="icon ion-edit" ng-click="editar('liberar')"></i>
  
  </div>


<div class="item item-body item-divider">
   ¿Qué quiero adquirir para mí?
  </div>

  <div class="item item-icon-right" href="#">

    {{perfil.adquirir}}
   
   

       <i class="icon ion-edit" ng-click="editar('adquirir')"></i>
  
  </div>


  


  


</div>
        </ion-content>
      </ion-view>
   