

      <ion-view view-title="Restablecer Contraseña">
      
  <ion-nav-bar class="bar-positive">
                  
         
  </ion-nav-bar>

        <ion-content padding="true">


           <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="forgot.email" autocorrect="off" autocapitalize="off" autocomplete="off">
            </label>           
          </div>
           <button class="button button-block button-positive" ng-click="resetPassword()">
              Cambiar Contraseña
            </button>
             <div class="card" ng-show="mensajeEnviado">
            <div class="item item-text-wrap">
                  Revisá tu correo electronico y seguí las instrucciones.
            </div>
          </div>


        </ion-content>
      </ion-view>
