<ion-view view-title="Agenvida"  hide-nav-bar="true" has-navbar="true" >


<ion-side-menus enable-menu-with-back-views="true">

      <!-- ++++++++++++++++ Center content  ++++++++++++++++  -->
                    <ion-side-menu-content scroll="true">

                   


                  <!--    <ion-header-bar class="bar-positive">

                        <button class="icon-right button button-icon" ng-click="toggleLeft()">
                          <i class="icon ion-navicon"></i>
                        </button>

                        <h1 class="title">

                          Agenvida

                        </h1>


            

                        <div class="buttons">

                          <ionic-datepicker input-obj="datepickerObject">
                              <button class="button button-icon icon-right" side="right" >
                          <i class="icon ion-calendar"></i>
                        </button>
                        </ionic-datepicker> 
                        



                          <button class="button button-icon icon-right" side="right" ng-click="verPerfil()">
                          <i class="icon ion-android-person"></i>
                        </button>



                        </div>
                    
                                  




                      </ion-header-bar> -->
                     





                      <ion-nav-view name="MainContent" animation="slide-left-right"></ion-nav-view>




                    </ion-side-menu-content>







                <!-- ++++++++++++++++ Left menu ++++++++++++++++ -->

       
                <ion-side-menu side="left" >


                  <ion-header-bar class="bar-dark">
                    <h1 class="title">Menu</h1>
                   
                  </ion-header-bar>


                  <ion-content >
                    <ion-list>

                       <ion-item ng-click="verMarcacion()" menu-close>

                      Propositos
                     
                      </ion-item>


                      <ion-item ng-click="verReporte()" menu-close>

                      Reporte Mensual <span class="item-note">Pronto</span>
                     
                      </ion-item>

                       <ion-item ng-click="verEvangelio()" menu-close>

                      Evangelio del Día <span class="item-note balanced">Nuevo</span>
                     
                      </ion-item>

                       <ion-item>

                     Telefono del Padre <span class="item-note">Pronto</span>
                     
                      </ion-item>
                       <ion-item>

                      Oraciones <span class="item-note">Pronto</span>
                     
                      </ion-item>

                       <ion-item>

                     Capitalario <span class="item-note">Pronto</span>
                     
                      </ion-item>
                       <ion-item ng-click="verSugerencias()" menu-close>

                      Sugerencias
                     
                      </ion-item>
                    </ion-list>
                  </ion-content>


                </ion-side-menu>

               
</ion-view>

      
  
