<ion-view ng-init="actualizar(false);">

  <ion-nav-bar class="bar-positive flat">
    <ion-nav-title>
      <h2 class="title">
        <a class="button  button-icon button-clear   icon ion-arrow-left-b " ng-click="diaDown()" ></a>
          <span ng-click="openDatePicker()" class="fecha">{{dia}}-{{mes}}-{{ano}}</span>
        <a class=" button  button-icon button-clear  icon ion-arrow-right-b" ng-click="diaUp()" ></a>
      </h2>
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!-- Toggle left side menu -->
      <!--  <button class="button button-icon icon ion-ios-refresh-empty" ng-click="getPropositos()"></button> -->
      <button  class="button button-icon icon button-clear ion-android-person"  ng-click="verPerfil()">
        <!--   <span ng-if="perfil">
           <span class="badge badge-assertive icon-badge">!</span>
           </span>-->
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-floating-button ng-show="!toggleGroupVisibility && mostrarFAB" click="showOpcionesNuevo()" button-color="#1B237A" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content scroll="true" style="margin-right: -1px" class="has-header">
    <ion-refresher
      pulling-text="{{'estirar_para_refrescar' | translate}}"
      on-refresh="actualizar(true)">
    </ion-refresher>
    <div class="item item-body" style="border-color: #1B237A;background-color: #1B237A; margin-right: -5px">
      <div class="center">
        <textarea msd-elastic style="
        background: transparent;
        color: white;
        font-weight: bold;
        margin-top: 14px;
        margin-bottom: 14px;
        overflow: visible;
        font-size: 16px;
        text-align: center;
        white-space: normal; width: 100%; line-height: 1.2;"
               placeholder="{{'ideal_personal_cargar' | translate}}" ng-model="perfil.ideal_personal"
                  ng-blur="editarPerfil(); toggleIdeal =!toggleIdeal"></textarea>
      </div>

      <!--*************************************** PROPOSITO PARTIULAR ************************************-->
      <p class="item-icon-right pps light" style="padding-top: 0; margin-top: 0" ng-show="true" ng-value= " pps = ( propositos | filter:{ vinculacion: propositoParticular.id , mes_ano: ano + '-'+ mes +'-' , })[0]"
         on-hold="pps ? showOpciones(pps):''">
        <textarea ng-if="pps != null" msd-elastic style="
                background: transparent;
                color: white;
                overflow: visible;
                white-space: normal; width: 80%; line-height: 1.2; padding: 0 !important; margin: 0 !important;"
                  type="text" placeholder="{{'add_pp' | translate}}" ng-model="pps.proposito"
                  ng-blur="editarProposito(pps)"></textarea>

        <textarea ng-if="pps == null" msd-elastic style="
                background: transparent;
                color: white;
                overflow: visible;
                white-space: normal; width: 80%; line-height: 1.2; padding: 0 !important; margin: 0 !important;"
                  type="text" placeholder="{{'add_pp' | translate}}" ng-model="propositoParticularNuevo.proposito"
                  ng-blur="editarProposito(propositoParticularNuevo)"></textarea>
            <span ng-if="pps != null" class="light item-text-wrap" style="font-size:15px;">
               <ion-spinner class="cargando" style="right: 90px; top: 0;" ng-show="loading == 'undefined-undefined'"></ion-spinner>
               <span class="icon  ion-ios-checkmark mas ink ink-dark" style="right: 60px" ng-class="{'mas-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 1 }).length != 0 } "
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 1 , sectionIndex, $index)"></span>
               <span class="icon ion-ios-close menos ink ink-dark" style="right: 30px" ng-class="{'menos-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 2 }).length != 0 }"
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 2 , sectionIndex, $index)"></span>
               <span class="icon ion-record neutro ink ink-dark" style="right: 0" ng-class="{'neutro-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 0 }).length != 0 }"
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 0, sectionIndex, $index )"></span>
            </span>
      </p>
      <!--*************************************** FIN PROPOSITO PARTIULAR ************************************-->
    </div>
    <div style="background-color: #ffffff">
      <!--<div style="position: absolute; width: 100%" align="center">
        <button ng-show="!toggleGroupVisibility && mostrarFAB"
                ng-click="showOpcionesNuevo()"
                style="top: 5px; background-color: #1B237A; color: #ffffff;" class="button button-fab icon ion-plus"></button></div>-->
      <div class="ink ink-dark no-border item item-stable item-divider item-icon" ng-click="clickPropositos()">
      <i class="icon"
         ng-show="toggleGroupVisibility"
         ng-class="toggle ? 'ion-chevron-down': 'ion-chevron-right'"></i>
      {{'purposes' | translate}}
<!--
        <i class="text-center ink icon ion-ios-plus-outline" style="position: fixed; left: 0; right: 0; font-size: 30px; z-index: 9999; color: #1B237A"></i>
-->
        <i class="text-center ink pull-right" style="font-size: 30px; width: 50px;"
         ng-class="!toggleGroupVisibility ? 'ion-ios-glasses-outline': 'ion-ios-glasses'"
         ng-click="$event.preventDefault(); $event.stopPropagation(); toggleVisibility()"></i>
    </div>
    <ion-list class="animate-ripple" ng-repeat="vinculacion in vinculaciones"  ng-init="sectionIndex = $index">
      <a class=" ink ink-dark  item item-stable item-divider item-icon" ng-show="toggleGroupVisibility"
         ng-click="(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' }).length > 0? toggleGroup(vinculacion): CreateProposito(vinculacion)"
         ng-class="{active: shownGroup[vinculacion.id]}">
        <i class="icon"
           ng-show="(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' }).length > 0"
           ng-class="shownGroup[vinculacion.id] ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
        <i ng-class="
          { 'ion-leaf': vinculacion.id === 4 ,
            'ion-person': vinculacion.id === 2 ,
            'ion-ios-people' : vinculacion.id === 3,
            'icon-prayinghands' : vinculacion.id === 1,
            'ion-compose' : vinculacion.id === 7,
            'ion-calendar': vinculacion.id === 8
          }" style="font-size: 18px; margin-left: 10px !important;"></i>
        {{vinculacion.nombre | slugify | translate }}
        <i class="icon ion-ios-plus-outline ink pull-right" style="font-size: 30px"
           ng-if="(shownGroup[vinculacion.id] && (propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' }).length > 0) && !estaAgregando()"
           ng-click="$event.preventDefault(); $event.stopPropagation(); CreateProposito(vinculacion)"></i>
      </a>
      <div  class="item item-light item-accordion item-icon-right in done"
            ng-repeat="proposito in (filtered =(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' })|orderBy: 'id')  track by proposito.id"
            ng-show="shownGroup[vinculacion.id]"
      >
        <input focus-me="{{proposito.id}}" ng-class="{'mas-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 1 }).length > 0,
                      'menos-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 2 }).length > 0,
                      'neutro-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 0 }).length > 0 }"
               style=" border: 0; border-left: 4px solid; padding-left: 10px; border-left-color: #dbdbdb; border-radius: 0 !important;
        background: transparent;
        overflow: visible;
        text-align: left;
        white-space: normal; width: 100%;"
               placeholder="{{'add_p_message' | translate}}" type="text" ng-model="proposito.proposito"
        ng-blur="editarProposito(proposito, vinculacion.id, filtered)"/>
        <ion-spinner class="cargando" style="" ng-show="loading == sectionIndex + '-' + $index"></ion-spinner>
        <span class="icon" ng-show="proposito.id" ng-click="showOpciones(proposito, sectionIndex, $index)">
          <i class="font_22px" ng-class="
          { 'ion-leaf': vinculacion.id === 4 ,
            'ion-person': vinculacion.id === 2 ,
            'ion-ios-people' : vinculacion.id === 3,
            'icon-prayinghands' : vinculacion.id === 1,
            'ion-compose' : vinculacion.id === 7,
            'ion-calendar': vinculacion.id === 8
          }" ng-show="!toggleGroupVisibility"></i>
          <i class="ion-android-more-vertical dark text-center" style="width: 20px !important;"></i>
        </span>
      </div>

    </ion-list>
      <div  class="item item-light item-accordion item-icon-right in done no-border"
            ng-show="showListaVacia(propositos, ano, mes) && !toggleGroupVisibility"
      >
        {{'agregar_proposito' | translate}}

      </div>

    </div>
    <div style="height: 90px"></div>
  </ion-content>
</ion-view>

