<ion-view view-title="Agenvida" ng-init="actualizar(false)">
  <ion-nav-bar class="bar-positive flat">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!-- Toggle left side menu -->
      <!--  <button class="button button-icon icon ion-ios-refresh-empty" ng-click="getPropositos()"></button> -->
      <!--  <ionic-datepicker input-obj="datepickerObject"><button  class="button button-icon icon ion-calendar"></button></ionic-datepicker>-->
      <button  class="button button-icon icon button-clear ion-android-person"  ng-click="verPerfil()">
        <!--   <span ng-if="perfil">
           <span class="badge badge-assertive icon-badge">!</span>
           </span>-->
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-header-bar class="bar bar-positive bar-subheader  bar-light" align-title="center" >
    <h2 class="title">
      <a class="button  button-icon button-clear   icon ion-arrow-left-b " ng-click="diaDown()" ></a>
      <ionic-datepicker input-obj="datepickerObject"><span class="fecha">{{dia}}-{{mes}}-{{ano}}</span> </ionic-datepicker>
      <a class=" button  button-icon button-clear  icon ion-arrow-right-b" ng-click="diaUp()" ></a>
    </h2>
    <button style="float: right; position: absolute; right: 0; padding-bottom: 20px"
            class="button button-icon button-clear icon small"
            ng-class="!toggle ? 'ion-ios-arrow-down': 'ion-ios-arrow-up'"
            ng-click="desplegar(); toggle = !toggle"></button>

  </ion-header-bar>
  <ion-content scroll="true" class="has-subheader" has-subheader="true" >
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="actualizar(true)">
    </ion-refresher>
    <div class="item-dark  item item-body" style="border-color: transparent;">
      <div class="center">
        <textarea msd-elastic style="
        background: transparent;
        color: white;
        font-weight: bold;
        margin-top: 14px;
        margin-bottom: 14px;
        overflow: visible;
        font-size: 16px;
        text-align: center;
        white-space: normal; width: 100%; line-height: 1.2;"
               placeholder="{{'ideal_personal_cargar' | translate}}" ng-model="perfil.ideal_personal"
                  ng-blur="editarPerfil(); toggleIdeal =!toggleIdeal"></textarea>
      </div>

      <!--*************************************** PROPOSITO PARTIULAR ************************************-->
      <p class="item-icon-right pps light" style="padding-top: 0; margin-top: 0" ng-show="true" ng-value= " pps = ( propositos | filter:{ vinculacion: propositoParticular.id , mes_ano: ano + '-'+ mes +'-' , })[0]"
         on-hold="pps ? showOpciones(pps):''">
        <textarea ng-if="pps != null" msd-elastic style="
                background: transparent;
                color: white;
                overflow: visible;
                white-space: normal; width: 80%; line-height: 1.2; padding: 0 !important; margin: 0 !important;"
                  type="text" placeholder="{{'add_pp' | translate}}" ng-model="pps.proposito"
                  ng-blur="editarProposito(pps)"></textarea>

        <textarea ng-if="pps == null" msd-elastic style="
                background: transparent;
                color: white;
                overflow: visible;
                white-space: normal; width: 80%; line-height: 1.2; padding: 0 !important; margin: 0 !important;"
                  type="text" placeholder="{{'add_pp' | translate}}" ng-model="propositoParticularNuevo.proposito"
                  ng-blur="editarProposito(propositoParticularNuevo)"></textarea>
            <span ng-if="pps != null" class="light item-text-wrap" style="font-size:15px;">
               <ion-spinner class="cargando" style="right: 90px; top: 0;" ng-show="loading == 'undefined-undefined'"></ion-spinner>
               <span class="icon  ion-ios-checkmark-outline mas ink ink-dark" style="right: 60px" ng-class="{'mas-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 1 }).length != 0 } "
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 1 , sectionIndex, $index)"></span>
               <span class="icon ion-ios-close-outline menos ink ink-dark" style="right: 30px" ng-class="{'menos-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 2 }).length != 0 }"
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 2 , sectionIndex, $index)"></span>
               <span class="icon ion-ios-circle-outline neutro ink ink-dark" style="right: 0" ng-class="{'neutro-mark' : (pps.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 0 }).length != 0 }"
                     ng-click="$event.preventDefault(); $event.stopPropagation(); marcar(pps, 0, sectionIndex, $index )"></span>
            </span>
      </p>
      <!--*************************************** FIN PROPOSITO PARTIULAR ************************************-->
    </div>
    <ion-list class="animate-ripple" ng-repeat="vinculacion in vinculaciones"  ng-init="sectionIndex = $index"  >
      <a class=" ink ink-dark  item item-stable item-divider item-icon"
         ng-click="(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' }).length?toggleGroup(vinculacion): CreateProposito(vinculacion)"
         ng-class="{active: shownGroup[vinculacion.id]}">
        <i class="icon"
           ng-show="(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' }).length"
           ng-class="shownGroup[vinculacion.id] ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        &nbsp;
        {{vinculacion.nombre | slugify | translate }}
        <i class="icon ion-ios-plus-outline ink pull-right" style="font-size: 30px" ng-if="shownGroup[vinculacion.id] && !estaAgregando()"
           ng-click="$event.preventDefault(); $event.stopPropagation(); CreateProposito(vinculacion)"></i>
      </a>
      <div  class="item item-light  item-accordion  item-icon-right in done"
            ng-repeat="proposito in (filtered =(propositos | filter:{ vinculacion: vinculacion.id , mes_ano: ano + '-'+ mes +'-' })|orderBy: 'id')  track by proposito.id"
            ng-show="shownGroup[vinculacion.id]"
            on-hold="showOpciones(proposito)"
      >
        <input focus-me="{{proposito.id}}" ng-class="{'mas-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 1 }).length > 0,
                      'menos-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 2 }).length > 0,
                      'neutro-mark' : (proposito.marcaciones | filter:{ dia: fechaTotal, cumplimiento: 0 }).length > 0 }"
               style=" border: 0; border-left: 2px solid; padding-left: 10px;
        background: transparent;
        overflow: visible;
        text-align: left;
        white-space: normal; width: 100%;"
               placeholder="{{'add_p_message' | translate}}" type="text" ng-model="proposito.proposito"
        ng-blur="editarProposito(proposito)"/>
        <ion-spinner class="cargando" style="right: 110px; top: 15px;" ng-show="loading == sectionIndex + '-' + $index"></ion-spinner>
        <span class="icon ion-android-more-vertical dark item-dark" ng-show="proposito.id" ng-click="showOpciones(proposito, sectionIndex, $index)"></span>


      </div>
    </ion-list>
  </ion-content>
</ion-view>

