<ion-view title="Notificaciones">

  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> {{'back'| translate}}
  </ion-nav-back-button>
</ion-nav-bar>



  
  <ion-content >
 <!--  <div class="list">
    	<div class="item item-icon-right" ng-click="add()">
    	Notificaciones diaras

        <i class="icon ion-android-notifications"></i>


    	</div>

      <div class="item item-icon-right" ng-click="isScheduled()">
      
Is Scheduled
        <i class="icon ion-android-notifications"></i>


      </div>


      <button class="button button-full button-positive" ng-click="scheduleSingleNotification()">
          Show Local Notification (1)
        </button>   
        <button class="button button-full button-positive" ng-click="scheduleDelayedNotification()">
          Show Local Notification After 10 sec (2)
        </button>     
        <button class="button button-full button-positive" ng-click="scheduleEveryMinuteNotification()">
          Show Local Notification Every 1 min (3)
        </button> 
        <button class="button button-full button-positive" ng-click="updateSingleNotification()">
          Update Notification 2 (after 10 sec)
        </button> 
        <button class="button button-full button-positive" ng-click="cancelSingleNotification()">
          Cancel Notification 3 (every 1 min)
        </button> 

   
    </div> -->
  </ion-content>
</ion-view>