

      <ion-view view-title="Mi perfil"  >

<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Atrás
  </ion-nav-back-button>
</ion-nav-bar>


        <ion-content >
            
            <div class="list">

    <div class="item item-divider">
    Datos Personales
  </div>

  <div class="item item-icon-right" href="#">
   
    <h2>Gissela Peralta</h2>
      <p>Nombre y Apellido</p>

       <i class="icon ion-edit"></i>
  
  </div>

  <div class="item item-icon-right" href="#">
   
    <h2>Gissejo</h2>
      <p>Uusuario</p>

       <i class="icon ion-edit"></i>
  
  </div>


  <div class="item item-icon-right" href="#">
   
    <h2>Corazon de la patria</h2>
      <p>Ideal personal</p>

       <i class="icon ion-edit"></i>
  
  </div>

  <div class="item item-icon-right" >
   
     <h2>01/10/2015</h2>
      <p>Fecha de nacimiento</p>

       <i class="icon ion-edit" ng-click="goConfiguracion()"></i>
  

  </div>

  <div class="item item-icon-right" >
    
    <h2>Paraguay</h2>
      <p>País</p>

      <i class="icon ion-edit"></i>
  
  </div>

 
  <div class="item item-divider  item-icon-right " ng-click="goContratoPedagogico()">
    Contrato Pedagógico

 <i class="icon ion-ios-compose-outline"></i>

  </div>



  <div class="item item-divider item-icon-right" ng-click="goConfiguracion()">
    Configuración

 <i class="icon   ion-ios-gear-outline"></i>
  
  </div>

  


</div>
        </ion-content>
      </ion-view>
   