

      <ion-view view-title="Mi perfil"  >

<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Atrás
  </ion-nav-back-button>
</ion-nav-bar>


        <ion-content >
            
            <div class="list">

    <div class="item item-divider">
    Datos Personales
  </div>

  <div class="item item-icon-right" href="#">
   
    <h2>{{user.first_name}} </h2>
      <p>Nombre</p>

       <i class="icon ion-edit" ng-click="editarUser('first_name')"></i>
  
  </div>

  <div class="item item-icon-right" href="#">
   
    <h2>{{user.last_name}} </h2>
      <p>Apellido</p>

       <i class="icon ion-edit" ng-click="editarUser('last_name')"></i>
  
  </div>

  <div class="item item-icon-right" href="#">
   
    <h2>{{user.username}}</h2>
      <p>Usuario</p>

       <i class="icon ion-edit" ng-click="editarUser('username')" ></i>
  
  </div>


  <div class="item item-body item-icon-right" href="#">
   
    <h2>{{perfil.ideal_personal}}</h2>
      <p>Ideal personal</p>

       <i class="icon ion-edit" ng-click="editar('ideal_personal')"></i>
  
  </div>

  <div class="item item-icon-right" >
   
     <h2>{{perfil.nacimiento}}</h2>
      <p>Fecha de nacimiento</p>

       <i class="icon ion-edit" ng-click="editar('nacimiento')"></i>
  

  </div>

  <div class="item item-icon-right" >
    
    <h2>{{perfil.pais}}</h2>
      <p>País</p>

      <i class="icon ion-edit" ng-click="editar('pais')"></i>
  
  </div>

 
  <div class="item item-divider  item-icon-right " ng-click="goContratoPedagogico()">
    Contrato Pedagógico

 <i class="icon ion-ios-compose-outline"></i>

  </div>



  <div class="item item-divider item-icon-right" ng-click="goConfiguracion()">
    Configuración

 <i class="icon   ion-ios-gear-outline"></i>
  
  </div>

    <div class="item item-divider item-icon-right" ng-click="cerraSesion()">
    Salir

 <i class="icon   ion-log-out"></i>
  
  </div>


  


</div>
        </ion-content>
      </ion-view>
   