<ion-view view-title="{{'sign_up'|translate}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="center">
    <div class="" style="height: 20px;" >
      <div class="item item-text-wrap">
        <p ng-show="usuarioExiste" style="color:red">{{'user_exists' | translate}}</p>
      </div>
    </div>
      <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'name' |translate}}</span>
            <input type="text" placeholder="Jose" ng-model="user.first_name" ng-keyup="clearData()">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'lastname'|translate}}</span>
            <input type="text" placeholder="Engling" ng-model="user.last_name" ng-keyup="clearData()">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'user_name'|translate}}</span>
            <input type="text" placeholder="jengling" ng-model="user.username" autocorrect="off" autocapitalize="off" autocomplete="off" ng-keyup="clearData()">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'email' |translate}}</span>
            <input type="text" placeholder="engling@schoenstatt.com" ng-model="user.email" autocorrect="off" autocapitalize="off" autocomplete="off" ng-keyup="clearData()">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'password' |translate | capitalize}}</span>
            <input type="password" placeholder="*********" ng-model="user.password" ng-keyup="clearData()">
          </label>
      </div>
      <div class="padding">
      <button class="button button-block button-positive " ng-click="crearUsuario()">{{'create_user' |translate}}</button>
      </div>
  </ion-content>
</ion-view>

