
      <ion-view view-title="Sign-In">


  <ion-nav-bar class="bar-positive">
                  
         
                  </ion-nav-bar>

        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nombre de Usuario</span>
              <input type="text" ng-model="user.username" autocorrect="off" autocapitalize="off" autocomplete="off">
            </label>
            <label class="item item-input">
              <span class="input-label">Contraseña</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn()">
              Ingresar
            </button>
            <p class="text-center">
              <a href="" ng-click="forgotPasword()">¿Olvidaste tu contraseña?</a>
            </p>
              <p class="text-center">
              <a href="" ng-click="signup()">Crear usuario</a>
            </p>
          </div>
        </ion-content>
      </ion-view>

