@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-ThinItalic.ttf);
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;

}


.icon-praying-hands:before {
    content: "\e900";
  padding-right: 10px;
}

.icon-prayinghands:before {
  content: "\e900";
}


h1,h2,h3,h4,h5 {
  color: #6F6F6F;
}


.item h2 {
    font-weight: bold;
}

p.descripcion{
    font-style: italic;
    font-size: 10px;
}






/* Empty. Add your own CSS if you like */


.list .item.item-accordion {
        line-height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #dbdbdb;*/
    transition: 0.04s all linear;
    margin: 0;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-accordion .icon {

color: #ddd;
	}


.cargando {
  top: 5px;
  float: right;
  position: absolute;
  right: 105px;
}
span.icon.mas {
    right: 70px;
}

span.icon.menos {
    right: 40px;
}

input.mas-mark {
  border-left-color: #43A047 !important;
  border-radius: 0 !important;
}
input.menos-mark {
  border-left-color: red !important;
  border-radius: 0 !important;
}
input.neutro-mark {
  border-left-color: #7A7A7A !important;
  border-radius: 0 !important;
}


span.icon.neutro {

	right: 10px;
}

span.icon.mas-mark {
    color: #43A047;
}


span.icon.menos-mark {
      color: red;
}

span.icon.neutro-mark {

	 color: #7A7A7A;
}

.title i.icon.ion-arrow-left-b {
    margin-right: 15px;
    font-size: 25px;
}

.title i.icon.ion-arrow-right-b {
    margin-left: 15px;
    font-size: 25px;
}


.title .fecha {
      font-size: 16px;
    margin: -10px -10px;

}



.center{
    text-align: center;

}


.icono-login {
  text-align: center;
  margin: 0px 0px;
}

.icono-login {
    background: #1A237E;
    text-align: center;
    margin: 0px 0px;
    color: white;
}


.menu .item {
    font-weight: bold;
}

.menu-bottom {
    font-weight: bold;
}


.icono-login img {
  width: 40%;
}

.pps {    position: relative;
    padding-top: 7px;}

.item.item-positive {
    border-color: #1A237E;
    background-color: #1A237E;
    color: #fff;
}
.item.item-positive {
    /* border-color: #387EF5;
    background-color: #fafafa !important;
    color: #616161 !important ;*/
    border-bottom: solid 2px white;
    border-top: transparent;
    padding: 4px 10px;

    font-weight: bold;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    border-color: transparent;
    background-color: #FAFAFA;
}

.item {
  border-color: transparent;
  font-size: 16px !important;
}

.item-divider {


    padding: 0px 15px !important;
    min-height: 30px;
    background-color: #FAFAFA;
   color: #616161;
    font-style: italic;
    font-weight: 900;
    color: #424242 !important;
}


.button .badge {
    position: absolute;
    top: 15px;
    right: -4px;
}

/* REPORTE */


.col.label1 {
  /*  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);*/

      -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    padding: 0px;
    float: left;
   /* transform-origin: left top 0;*/


    font-size: 6px;

    text-align: center;

}
.marcacion.col {
    border-right: solid white 0px;
      background: #FBF7F7;

    padding: 0px;
    float: left;
    transform-origin: left top 0;
    /* height: 20px; */
    /* width: 38px; */

    font-size: 0px;
    /* padding-left: 0.6px; */

    border: ;
}



.col.neutro {
    background: #B7DFEA;;
}

.col.positivo {
    background-color: rgb(51, 205, 95);;
}

.col.negativo {
    background-color: rgb(239, 71, 58);
}

.item.reporte{
      padding: 0px;
}

.reporte h5 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;

}

.referencias .col{
      text-align: center;
}

.bar.bar-positive {
    border-color: #1A237E;
    background-color: #1A237E;
    background-image: linear-gradient(0deg, #1A237E, #1A237E 50%, transparent 50%);
    color: #fff;
}

.expanded.bar.bar-header {
    background: #1A237E;
}

.bar-subheader {
   /* margin-top: 10px;*/
}

.dark {
    color: #797979 !important;
}

.ionic_timepicker_popup .heading {
    background: rgb(26, 35, 126);
}


.ionic_timepicker_popup  .button_set {
    background: rgb(26, 35, 126);
}

.ionic_timepicker_popup  .button_close {
     background: #F8F8F8;
     color:#797979;
}
.ionic_timepicker_popup .button {
     padding: 0px;
}


/* FIN REPORTE */

.action-sheet .button {
  background-color: inherit;
  text-transform: capitalize;
  font-weight: normal !important;
}

.platform-android .action-sheet-cancel {
  display: block !important;
}
.action-sheet-destructive{
  color: red !important;
}

/*Refresher*/
.scroll-refresher .ionic-refresher-content.ionic-refresher-with-text{
  color: #1B237A;
}

.scroll-refresher .spinner{
  stroke: #1B237A;
}

/*Footer bar botones*/
ion-footer-bar > div > div > button {
  min-height: 44px;
  min-width: 44px;
  max-width: 100px !important;
  margin-bottom: 0;
  max-height: 44px;
  width: 100px !important;
}


.selected_date_full {
  color: #1A237E;
}

div .ionic_datepicker > div > div > button > i{
  color: #1A237E !important;
}

.button.button-positive.active, .button.button-positive.activated {
  border-color: #1A237E;
  background-color: #1A237E;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

button.button-block, .button.button-positive {
  border-color: #1A237E;
  background-color: #1A237E;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
