/* Empty. Add your own CSS if you like */


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-accordion .icon {

color: #ddd;
	}

span.icon.ion-plus-circled.mas {
    right: 70px;
}

span.icon.ion-minus-circled.menos {
    right: 40px;
}



span.icon.ion-contrast.neutro {

	right: 10px;
}

span.icon.ion-plus-circled.mas.mas-mark {
    color: green;
}


span.icon.ion-minus-circled.menos.menos-mark {
      color: red;
}

span.icon.ion-contrast.neutro.neutro-mark {

	 color: blue;
}

.title i.icon.ion-arrow-left-b {
    margin-right: 15px;
    font-size: 25px;
}

.title i.icon.ion-arrow-right-b {
    margin-left: 15px;
    font-size: 25px;
}


.title .fecha {
      font-size: 18px;
    margin: 0px 30px;

}



